:root {
    --primary-color: #11aaa6;
    --secondary-color: #fe5a00;
    --light-color: #EBEBEB;
    --dark-color: #292929;
    --white-color: #eee;
    --black-color: #111;
}
body {
    color: var(--black-color);
}
.links-container {
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    background: none;
}
.txt-color {
    color: var(--primary-color);
}
.sec-color {
    color: var(--secondary-color);
}
main>.container {
    padding: 60px 15px 0;
}
.container-img {
    width: 100%;
    margin-bottom: 10px;
}
#my-image {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    box-shadow: 0px 0px 10px 5px #a9a9a9;
    border-radius: 5px;
}
.make-text-bigger {
    font-size: 2em;
    color: #00A7E1;
    text-align: right;
}
.js-color {
    color: #efd81d;
}
.bs-color {
    color: #8612fb;
}
.html-color {
    color: #e54c21;
}
.css-color {
    color: #264de4;
}
footer i:hover {
    opacity: 0.6;
}
@media only screen and (max-width: 600px){
	#my-image {
        width: 100%;
    }
}